asgiref==3.4.1
certifi==2022.9.24
charset-normalizer==2.1.1
distlib==0.3.6
Django==3.2.9
django-extensions==3.1.5
filelock==3.8.0
film==1.0.0
gunicorn==20.1.0
idna==3.4
isle==0.6.0
Markdown==3.4.1
Pillow==8.4.0
platformdirs==2.5.2
pydotplus==2.0.2
pyparsing==3.0.6
pyTelegramBotAPI==4.7.0
pytz==2021.3
requests==2.28.1
sqlparse==0.4.2
urllib3==1.26.12
virtualenv==20.16.5
