<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       h6{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

    </style>
</head>
<body>
<div class="footer">

    <div class="company-info"><h6>ФЛ Кислюк Н.С.</h6>
        <h6 style="    font-family: 'Open Sans', sans-serif;">УНП BE6120950</h6>
    </div>


    <div class="social">
        <a href="https://www.instagram.com/car.case_minsk/" target="blank"><i class="fab fa-instagram" style="line-height: 60px;"></i></a>
    </div>
    <div class="company-info">

    </div>
</div>
</body>
</html>