{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarCase Detailing</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
{% include 'header.html' %}

{% for s in services %}
    <div class="service-header">
        <div>
            <img src="{{ s.picture.url }}" class="service-picture">
        </div>
        <div class="service-description">
            <h1>{{ s.name }}</h1>
            <h2>{{ s.description }}</h2>
        </div>
    </div>
{% endfor %}






{% include 'footer.html' %}
</body>
</html>